@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import '../../node_modules/scss-reset/src/scss/_reset.scss';
@import '../scss/variables/vars';
@import '../scss/modules/header';
@import '../scss/modules/navbar.scss';
@import '../scss/modules/button.scss';
@import '../scss/modules/logo.scss';

* {
  box-sizing: border-box;
}

a {
  color: $light;
  text-decoration: none;
}

body {
  height: 100%;
  font-family: 'Montserrat';
}

body[data-state='inactive'] {
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
